<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <configSections>     
      <!--log4net configuration section-->
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    
    <log4net>
      <appender>
        <!-- appender to save log to table -->
        <errorHandler type = ""/>
        <buffersize value="0"/>
        <connectionType vluae=""/>
      </appender>
    </log4net>
</configuration>
